*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    
    padding: 20px;
  }
  .container{
    margin: 50px;
    border: 15px double rgb(128, 128, 128);
    padding: 30px;
    text-align: center;
    background-color: #edcce9;

    
  }
  .header{
    font-size: 52px;
    color: aquamarine;
    font-weight: 900;
  }
  .header:hover{
    color: rgb(167, 8, 40);
    transform: translateY(-40px);
  }
  .htmlheader{
    color: #0055ff;
    text-align: center;
    margin-bottom: 20px;
  }
   .htmlheader1{
    color: #c9b088;
    text-align: center;
    margin-bottom: 20px;
  }
  .htmlpara{
    color: darkkhaki;
    font-size: 36px;
    margin: 20px;
    text-align: left;

  }
  .htmlpara1{
    color: rgb(162, 131, 114);
    font-size: 36px;
    margin: 20px;
    border: 1px solid #085a77;
    border-radius: 8px;
    padding: 15px;
    margin: 15px auto;
    max-width: 400px;
    box-shadow: paleturquoise;;
    
  }
  .htmlpara2{
    color: darkkhaki;
    font-size: 36px;
    margin: 20px;
    text-align: left;
    text-decoration: underline;
    text-decoration-color:black ;
    
    
  }
  .htmlpara3{
    color: rgb(107, 189, 178);
    font-size: 36px;
    margin: 20px;
    text-align: left;
    
  }
  .htmlpara4{
    color: violet;
    font-size: 36px;
    margin: 20px;
    text-align: left;
    
  }
  .bold{
    color: purple;
    font-size: 36px;
    margin: 20px;
    text-align: left;
    

  }
  .table{
    color: rgb(198, 170, 148);
    font-size: 36px;
    margin: 20px;
    background-color: darkred;
    padding: 30px;
  }
  .image{
    color: rgb(198, 170, 148);
    font-size: 36px;
    margin: 20px;
    background-color: rgb(155, 199, 196);
    padding: 30px;
    
  }